

header {
    background-color: blueviolet;
    text-align: center;
}

main {
    text-shadow: 2px 2px #000000;
}

.título {
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    border: 10px dashed white;
}

.centro {
    text-align: center;
}

.object1 {
    height: 500px;
    margin-left: 35%;
    padding: 30px;
    border: dotted, red 45%;
    
}

.object2 {
    height: 500px;
    border: dashed red 45%;
    margin-left: 35%;
    padding: 30px;
}

h1 {
    color: rgb(255, 255, 255);
    /*text-shadow: 2px 2px #000000;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}



h2 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

h3 {
    color: rgb(255, 255, 255);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, rgb(27, 22, 18) 25%, rgb(13, 163, 33) 50%, rgb(89, 212, 159) 70%, rgb(119, 21, 90) 100%, rgb(225, 193, 96) 0%);
    color: white; 
}


/*body {background: linear-gradient( to right , rgb(215, 178, 144) 20%, rgb(104, 228, 199) 50%, rgb(89, 212, 159) 70%, rgb(93, 205, 228) 100%, rgb(225, 193, 96) 0%);
    color: white;    
   
    }
  

body {
    background: rgb(246, 221, 204);
} 


body {background: linear-gradient(90deg, rgba(123, 36, 28) 20%, rgb(171, 25, 59) 40%, rgb(199, 29, 69) 60%, rgb(233, 107, 10) 80%, rgb(233, 177, 10) 100%);
    color: white;
}
